body {
color: #333333;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h2 {
border-bottom: 2px solid #333333;
}

figure {
background-color: #F2EDED;
border: 1px solid #ccc;
text-align: center;
}
figcaption {
font-style: italic;
}
#titulo {
padding: 10px;
text-align:center;
font-size:2em;
}
h2 {
margin-top: 30px;
}
p {
padding: 0 45px;
text-indent: 15px;
}
figure {
padding: 15px;
margin: 30px;
}
figcaption {
margin-top: 10px;
}
#centro-distribuicao {
margin-left: auto;
margin-right: auto;
width: 550px;
}
#familia-pelho {
float: right;
margin: 0 0 10px 10px;
}

.conteudo {
padding-top: 10px;  
padding-bottom: 10px;
}

p::first-letter {
font-weight: bold;    
}

h1 + p {
text-indent: 0;    
}

p::first-line {
font-variant: small-caps;
}